<div class="row">
    <div class="col-md-8">
        <h1>List of projects</h1>
    </div>
    <div class="col-md-4 text-right">
        <a href="/projects/new" class="btn btn-primary">Create New</a>
    </div>
</div>

<table>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {{#each projects}}
    <tr>
        <td><img src="{{image}}" width="50" height="50"></td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
            <a href="/projects/{{_id}}">Details</a>
            <a href="/projects/{{_id}}/delete">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>